@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;

}
main{
    background-color:yellow;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}
button{
    padding: 8px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 5px;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    font-size: 3rem;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
}